<div>
  <h1>Stock Exchange</h1>
  <button [disabled]="signal.connected" (click)="connect()">Connect</button>
  <span>Connected clients: {{data.clientCount}}</span>
</div>
<hr/>
<div *ngIf="signal.connected">
  <input type="text" placeholder="Username" (change)="userNameChanged($event)"/>
  <span>Cash: {{selectedUserMoney}}€</span>
  <table>
    <thead>
    <tr>
      <td>Share</td>
      <td>Amount</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let share of selectedUserShares">
      <td>
         {{share.shareName}}
      </td>
      <td>
        {{share.amount}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
<hr/>
<div *ngIf="selectedUserName.length > 0">
  <select [(ngModel)]="selectedShare">
    <option *ngFor="let share of data.shares">{{share.name}}</option>
  </select>
  <input #amountInput type="number"/>
  <button (click)="addTransaction(+amountInput.value, true)">Buy</button>
  <button (click)="addTransaction(+amountInput.value, false)">Sell</button>
</div>
<app-stock-chart [dataSource]="historyData"></app-stock-chart>

<app-log></app-log>
